<?xml version="1.0"?>
<launch>
	<!-- Robot pose -->
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>
	<arg name="robot_name" default="clifford"/>

  <arg name="world" default="$(find livox_laser_simulation)/worlds/shaky_perception.world" />
  <node
    name="spawn_atom"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find livox_laser_simulation)/urdf/clifford_velodyne.sdf -sdf -model clifford -z 0.2"
    output="screen" />

  <node pkg="livox_laser_simulation" name="move_clifford_velodyne.py" 		 type="move_clifford_velodyne.py" output="screen"> 
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(arg world)"/> <arg name="paused" 
	value="false"/> <arg name="use_sim_time" value="true"/> <arg 
	name="gui" value="true"/> <arg name="headless" value="false"/> <arg 
	name="debug" value="false"/> <arg name="verbose" value="true"/>
  </include>
  





</launch>
